@import '../../scss/variables';

.mainSearch {
    display: flex;
    justify-content: flex-end;
}

.searchSvg {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;


    & svg {
        transition: all 0.3s;
    }

    &:hover svg {
        filter: drop-shadow(0 0 1px $white);
    }
}