$black: #333333;
$white: #ffffff;
$smoothWhite: #ADADAD;
$gradientVlue: linear-gradient(125.83deg, #090713 4.84%, #081C27 18.03%, #0A2D3E 26.57%, #285464 57.08%, #8FB2BD 90.85%);
$gradientSunny: linear-gradient(125.83deg, #090713 4.84%, #081C27 18.03%, #0A2D3E 26.57%, #285464 37.17%, #BDB38F 82.2%);

$border: 2px solid #285464;

$bRadius: 30px;
$bigBRadius: 50px;