@import '../../scss/variables';

$border: 2px;
$thinText: 300;

.mainInfo {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.todayWeather,
.todayHumidity {
    z-index: 2;
}

.infoCircle {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 7rem;
    height: 7rem;
    margin: 1rem 0 0.9rem 0;
    background: rgb(24, 63, 79);
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: 50%;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background:
            linear-gradient(135deg, #c5d1ff 8%, #325260 20%, #04212C 54%, #99CAD8 105%),
            linear-gradient(312deg, #456676 54%, #2E4651 49%, #689DB4 60%, #2C486F 75%);
    }

    & h2 {
        font-size: 1.8rem;
    }
}

.moreInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;

    & span {
        font-size: 1.1rem;
        font-weight: 500;
    }
}

.todayTemperature {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h1 {
        position: relative;
        margin-top: -6rem;
        font-size: 4rem;

        & sup {
            position: absolute;
            font-size: 3rem;
        }
    }
}

.perDayTemp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minTemp,
.maxTemp {
    & span {
        font-weight: 300;
        font-size: 0.8rem;
    }
}